<cdk-virtual-scroll-viewport [itemSize]="141" style="height: 2820px">
    <div *cdkVirtualFor="let person of persons;let i = index" >
        <div class="card" (click)="show(person)">
            <img style="height: 50px; width:50px;" [src]="person.avatar" alt="Avatar">
            <div class="container" >
                <h4><b>{{person.name}}</b></h4>
                <h4><b>ID: {{i}}</b></h4>
                <p>{{person.bio.substr(0, 30)}}...</p>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>